<p>
<% if @user.profile_pic.attached? %>
  <%= image_tag(@user.profile_pic, size: "200x200") %>
<%end%>
</p>
<%= render @user %>

<div>
    <%= link_to t("Back to users"), users_path,  style: "color:black" %>

</div>
